//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.

import UIKit

class {{ module_info.name }}Assembly {

    func assemblyModuleForView<UIViewController>(view: UIViewController) {

        if let viewController = view as? {{ module_info.name }}ViewController {
            assembly(viewController: viewController)
        }
    }

    private func assembly(viewController: {{ module_info.name }}ViewController) {

        let router = {{ module_info.name }}Router()

        let presenter = {{ module_info.name }}Presenter()
        presenter.view = viewController
        presenter.router = router

        let interactor = {{ module_info.name }}Interactor()
        interactor.output = presenter

        presenter.interactor = interactor
        viewController.output = presenter
    }

}
